/* ********************** */
/* Parent/Document styles */
/* ********************** */

body {
  background-color: #3b3b3b;
}

.App {
  width: 100%;
  height: 100%;
}

/* ***************** */
/* Application Title */
/* ***************** */

.app-title {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  height: 8%;
  width: 100%;
  background-color: #3b3b3b;
  margin: 0 0 0 10px;
  display: table;
}

.app-title h1 {
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #fff;
  display: table-cell;
  vertical-align: middle;
}

/* ************* */
/* Map Component */
/* ************* */

.map-container {
  position: fixed;
  right: 0;
  top: 8%;
  width: 80%;
  height: 92%;
}

.map-container .map {
  width: 100%;
  height: 100%;
}

/* ********** */
/* Infowindow */
/* ********** */

.infowindow {
  max-width: 200px;
}

.infowindow .address a {
  color: #ff0000;
  text-decoration: none;
  font-weight: 600;
}

.infowindow .address a:hover {
  color: #5535a1;
}

.infowindow .rating a {
  text-decoration: none;
  color: #000000;
  font-weight: 600;
}

.infowindow .fa-foursquare {
  color: fuchsia;
  letter-spacing: 5px;
  font-size: 18px;
}

.infowindow .icons {
  letter-spacing: 12px;
  font-size: 22px;
}

.infowindow .icons a {
  color: #913c3c;
}

.infowindow .icons a:hover {
  color: #3c6b91;
}

.infowindow .foursquare-logo {
  position: relative;
  left: -10px;
  width: 150px;
}

/* ************************ */
/* Filter-options Component */
/* ************************ */

.menu-icon {
  position: absolute;
  right: 5px;
  top: 3px;
  visibility: hidden;
}

.filter-options-container {
  background-color: #3b3b3b;
  color: #ffffff;
  width: 20%;
  min-height: 92%;
  position: absolute;
  left: 0;
  top: 8%;
}

.filter-options-container.extend {
  transform: translateX(0);
}

.filter-options-container .filter-form {
  padding-left: 15px;
}

.filter-form .filter-counties-list {
  background-color: #fffad1;
  border: 2px solid #000;
  border-radius: 15px;
  padding: 8px;
}

.filter-form .filter-counties-list:focus {
  background-color: #fff;
  outline: none;
  color: #000;
}

.filter-content.show {
  display: block;
}

.filter-content .list-locations {
  padding-left: 15px;
}

.filter-content .list-locations li {
  padding-bottom: 10px;
  list-style: none;
}

.filter-content .list-locations li a {
  text-decoration: none;
  color: #b13232;
}

.filter-content .list-locations li a:hover {
  color: #ff0000;
}

.list-locations .location-button {
  background: none;
  border: none;
  font-size: 1.1em;
  color: #fff;
  text-align: left;
}

.list-locations .location-button:hover {
  cursor: pointer;
  color: rgb(255, 0, 0);
}

.list-locations .location-button:focus {
  outline: none;
  color: rgb(93, 104, 255);
}

.filter-content .parkdata-text {
  color: #000;
  background-color: white;
  font-weight: 600;
  text-align: center;
  margin: 0;
}

.filter-content .parkdata-text a {
  color: #444444;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .menu-icon {
    visibility: visible;
  }

  .filter-options-container {
    width: 180px;
    transform: translateX(-80%);
    z-index: 998;
    transition: transform 0.3s;
  }

  .map-container {
    width: 100%;
  }

  .app-title {
    letter-spacing: 2px;
  }

  .filter-content {
    display: none;
  }
}

@media screen and (max-width: 615px) {
  .app-title h1 {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 515px) {
  .app-title h1 {
    font-size: 1.3em;
  }
}

@media screen and (max-width: 470px) {
  .app-title h1 {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 415px) {
  .app-title h1 {
    font-size: 1em;
  }
}

@media screen and (max-width: 380px) {
  .app-title h1 {
    letter-spacing: initial;
  }
}